---
import Button from "@components/utils/Button.astro";

const { imageUrl } = Astro.props;
---

<div class="hero-two p-4 min-h-[80vh] h-[100%] max-h-min">
  <div class="max-contain mx-auto">
    <!-- Image Section -->
    <div class="relative flex justify-center min-h-[50vh] lg:min-h-[78vh]">
      <div class="animated-border-box-glow rounded-md"></div>
      <div class="animated-border-box rounded-md">
        <!-- Masonary Layout -->
        <div class="masonry h-full rounded-md">
          <div class="grid grid-flow-col grid-rows-2 gap-1 h-full">
            <div
              class="row-span-1 md:row-span-2 col-span-2 bgrd-image rounded-sm"
            >
              <!-- Image -->
            </div>
            <div class="bg-slate-500 bgrd-image rounded-sm">
              <!-- Image -->
            </div>
            <div class="bg-white bgrd-image rounded-sm">
              <!-- Image -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Text Section -->
    <div class="property-section mt-0 lg:mt-[-120px] relative z-2 h-full">
      <div class="grid grid-flow-col grid-rows-8 gap-4 lg:gap-12 h-full">
        <div
          class="flex-col flex row-span-4 lg:row-span-5 w-full min-h-[300px] rounded-sm border-2 border-golden-300 bg-white"
        >
          <div class="property-info p-8 lg:p-12 content-between">
            <div class="property-text h-full font-extralight text-golden-300">
              <h2 class="text-4xl">Property Name</h2>
              <p>6 Bedroom | 6 Bath</p>
            </div>
            <div class="property-link self-end">
              <Button class="place-self-start" />
            </div>
          </div>
        </div>
        <div
          class="outro-section lg:row-start-4 row-span-4 lg:row-span-5 rounded-sm h-full bg-white"
        >
          <div class="outro-info p-8 lg:p-12">
            <div class="outro-text font-extralight text-slate-950">
              <h2 class="text-4xl">Property Name</h2>
              <p>6 Bedroom | 6 Bath</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TODO Split image into 3 masonary layout
    x 3 images
    x lg: left col 2/3, right col stacked 2 rows
    x xs: left col full, right bottom row 2 cols
  Images will be house, bedroom, bath with appropriate 
    - text Property, 6 Bedroom, 5 bath -->

  <!-- TODO Section below 2 col - container
    x a square card for each staggered vertically
    - left Card
      - Headline, body, button [view listing, see properties]
      - To go to the listing
    - right card
      - Headline, body, arrow down
      - leads user to content section below -->
</div>
<!-- Card Area for Property Info -->

<style define:vars={{ imageUrl }}>
  .hero-two {
    background-color: #111;
  }

  .masonry {
    width: calc(100% - 4px);
    height: calc(100% - 2px);
    margin-left: 2px;
    margin-top: 1px;
    padding-bottom: 1px;
    overflow: hidden;
  }

  .bgrd-image {
    opacity: 0.9;
    background: center/cover no-repeat var(--imageUrl);
  }

  /* Animated Border Box Glow */
  .animated-border-box,
  .animated-border-box-glow {
    /* max-height: calc(100% - 60px); */
    /* max-width: calc(100% - 10px); */
    /* min-height: 60vh; */
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    /* Border Radius */
    /* border-radius: 2px; */
  }

  .animated-border-box-glow {
    overflow: hidden;
    /* Glow Blur */
    filter: blur(40px);
  }

  .animated-border-box:before,
  .animated-border-box-glow:before {
    content: "";
    z-index: -2;
    opacity: 0.8;
    /* filter: blur(40px); */
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-130deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    /*border color, change middle color*/
    background-image: conic-gradient(
      rgba(0, 0, 0, 0),
      rgba(201, 177, 123, 0.8),
      rgba(0, 0, 0, 0) 45%
    );
    /* change speed here */
    animation: rotate 6s cubic-bezier(0.77, 0, 0.18, 1) infinite;
  }

  .animated-border-box:after {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    /* border width */
    left: 2px;
    top: 1px;
    /* double the px from the border width left */
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    /*bg color*/
    background: #292a2e;
    /*box border radius*/
    /* border-radius: 2px; */
  }

  @keyframes rotate {
    100% {
      transform: translate(-50%, -50%) rotate(0.65turn);
    }
  }

  /*// Border Animation END//*/
</style>
