---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const {blok} = Astro.props
---
<div {...storyblokEditable(blok)} class:list={["min-h-3 mb-8 md:mb-4", blok.css]}>
  {
    blok.bloks?.map((blok: any) => {
      return <StoryblokComponent blok={blok} />
    })
  }
</div>