---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const {blok} = Astro.props
const sizeClass = blok.fullWidth ? 'w-full' : 'max-content'
const classNames = blok.css
let imageUrl = 'none'
if (blok.image && blok.image.id) {
  imageUrl = `url('${blok.image.filename}')`
}
---
<div {...storyblokEditable(blok)} class:list={["wrapper w-full pt-12 pb-12 bg-no-repeat bg-center", classNames]}>
  <div class:list={["mx-auto", sizeClass]}>
  {
    blok.container_bloks?.map((blok: any) => {
      return <StoryblokComponent blok={blok} />
    })
  }
  </div>
</div>
<style define:vars={{imageUrl}}>
  .wrapper {
    background-image: var(--imageUrl);
    background-size: cover;
  }
</style>