---
import Button from '../Button.astro';
const { headline, content, linkText, linkURL, class: className } = Astro.props;
---
<div class:list={['hero-card rounded lg:rounded-lg', className]}>
  <div class="card-inner lg:w-5/6">
    <h2 class="headline pl-8 xl:pl-16 pb-3 text-2xl lg:text-4xl font-bold">{headline}</h2>
    <hr class="divider my-4 border-4 border-dark-gold">
    <p class="content pl-8 xl:pl-16 py-3 lg:text-xl">{content}</p>
    <div class="footer ml-8 xl:ml-16 mt-10 mb-[6vh] w-full">
      <Button text={linkText} url={linkURL} class="rounded border border-gold text-gold hover:text-dark-gold uppercase p-2 lg:text-xl inline-block w-3/4 text-center" />
    </div>
  </div>
</div>

<style>
  .hero-card {
    /* max-width: 80vw; */
  }
</style>