---
import Button from '@components/utils/Button.astro';
const { blok } = Astro.props
const url = blok?.button[0].url.story.url
const testArray = Array(2).fill("1")
---
<div class="property-highlight text-white">
  <div class="row flex justify-center">
    <div class="flex items-center">
      <h2 class="subtle-fade text-5xl uppercase">If you have a vision we build it.</h2>
    </div>
  </div>
  <div class="flex items-center flex-row gap-4 lg:gap-8">
    {
      testArray.map( () => (
        <div class="flex-1 relative">
          <!-- Card 1 -->
          <div class="media-container">
            Image
          </div>
          <div class="content-container">
            <div class="top-container">
              <h3 class="text-golden-400">Some Text</h3>
            </div>
            <div class="bottom-container flex justify-between items-center">
              <div class="title flex-1">Property Title</div>
              <div class="button flex-1">
                <Button 
                  outline 
                  text={blok?.button[0].text} 
                  link={url} 
                  class="mt-4 md:w-3/4 flex font-cg font-light text-xl uppercase text-golden-400"
                />
              </div>
            </div>
          </div>
        </div>
      ))
    }
    
    <!-- <div class="flex-1 relative">
      <div class="media-container">
        Image
      </div>
      <div class="content-container">
        <div class="top-container">
          <h3 class="text-golden-400">Some Text</h3>
        </div>
        <div class="bottom-container">
          <div class="title">Property Title</div>
          <div class="button">
            <Button 
              outline 
              text={blok?.button[0].text} 
              link={url} 
              class="mt-4 md:w-3/4 flex font-cg font-light text-xl uppercase text-golden-400"
            />
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

<style>
  .property-highlight {
    padding: max(29.6px, calc(29.6px + 5.08vw)) 0;
  }
</style>