---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"

const { blok, class: className } = Astro.props;
const bgrdImage = `url('${blok.image?.filename}')`;
---
<section {...storyblokEditable(blok)} class:list={['hero flex flex-col justify-center', className]}>
  <div class="hero-content w-full">
    <div class="mt-[40vh] lg:mt-0 lg:container mx-auto">
      {
        blok.content?.map((blok: any) => {
          return <StoryblokComponent blok={blok} />
        })
      }
    </div>
  </div>
  <div class="hero-image absolute inset-x-0 top-0"></div>
</section>

<style define:vars={{bgrdImage}}>
  .hero {
    min-height: 100vh;
    max-height: max-content;
    /* height: 100vh; */
    width: 100%;
    position: relative;
    background-color: #fff;
  }
  .hero-content {
    z-index: 1;
    height: fit-content;
    padding: 2rem;
  }
  .hero-content > div {
    max-width: var(--max-content);
  }
  .hero-image {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 72%;
    width: 100%;
    background: center/cover no-repeat var(--bgrdImage);
  }
</style>