---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok, class: className } = Astro.props;
---

<section {...storyblokEditable(blok)} class:list={["hero-section", className]}>
  {
    blok.hero?.map((blok: any) => {
      return <StoryblokComponent blok={blok} />
    })
  }
</section>
