---
import Image from 'astro/components/Image.astro'
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"

const { blok, image = blok.image } = Astro.props; 
// console.log(blok)
---
<section class="bg-golden-400 w-full flex justify-center">
  <div id="circleReveal" class="overlay py-8 lg:py-16">
    <div class="circles">
      <div class="container mx-auto p-8 mb-8 grid grid-cols-1 lg:grid-cols-2 gap-x-6">
        <div class="flex-1 text-md lg:text-xl mb-8" aria-label="Text Content">
          {
            blok.services?.map((blok: any) => {
              return <StoryblokComponent blok={blok} />
            })
          }
        </div>
        <div {...storyblokEditable(blok)} class="image flex-1 rounded-md lg:rounded-2xl shadow-2xl">
          <Image width={1080} height={600} src={image.filename} alt={image.alt} class="aspect-auto" aria-describedby="Image content" />
        </div>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  // Registered in layout

  gsap.to('.overlay', {
    duration: 10,
    clipPath: 'circle(110%)',
    scrollTrigger: {
      trigger: '.overlay',
      start: 'top bottom-=26%',
      scrub: true,
      // markers: true,
    }
  });
</script>

<style>
  section {
    min-height: 200px;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(169, 132, 73, 0.8), rgba(169, 132, 73, 0.4)), url(/src/assets/hexa-pattern-07.png);
  }
  .overlay {
    min-height: 100%;
    min-width: 100%;
    background-color:  #fff;
    clip-path: circle(5%);
    position: relative;
    z-index: 1;
  }
  .container {
    max-width: var(--max-content);
    position: relative;
    z-index: 3;
  }
  .cirlces {
    position: relative;
    z-index: 2;
  }
  .circles::before {
    content: '';
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    border: solid 2px #b59250 !important;
    position: absolute;
    top: 0px;
    left: -8%;
    opacity: 0.3;
  }
  .circles::after {
    content: '';
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    border: solid 2px #b59250 !important;
    background-color: #b59250 !important;
    position: absolute;
    top: 60%;
    /* bottom: -60%; */
    right: -18%;
    opacity: 0.8;
  }
  .image {
    max-height: 540px;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-image: none;
    background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  @media screen and (min-width: 1024px) {
    .image {
    overflow: hidden;
    max-height: 680px;
  }
  img {
    max-height: 100%;
    /* height: 100%; */
    max-width: unset;
    transform: translateX(-16.6%);
  }
  }
</style>