---
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <main class="min-h-[100vh] text-white justify-items-center content-center">
    <div class="h-[40vh] justify-items-center">
      <h1 class="text-4xl capitalize">Sorry but that page isn't here!</h1>
      <p class="pb-12 pt-4">Please return to the main page.</p>
      <a href="/" class="py-4 px-24 my-4 rounded-md bg-golden-500 text-white hover:bg-golden-400 hover:text-black">HOME PAGE</a>
      <div></div>
    </div>
  </main></Layout
>
