---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"
import Layout from '../layouts/Layout.astro';

// Components
import HighlightWithGallery from '../components/sections/HighlightWithGallery.astro';


import AboutCTA from '@components/sections/AboutCTA.astro';

//////////////////
// Storyblok Content
const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/home', {
	version: import.meta.env.DEV ? "draft" : "published",
	resolve_links: 'url'
})
const content = data.story.content;

console.log(content)
---
<Layout metaTags={content.metatags}>
	<main>
		{
			content.hero?.map((blok: any) => {
				return <StoryblokComponent blok={blok} />
			})
		}
		<AboutCTA data={content.about[0]} />
		{
			content.services?.map((blok: any) => {
				return <StoryblokComponent blok={blok} />
			})
		}
		<HighlightWithGallery />
	</main>
</Layout>

<style>
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
