---
import LinkCard from '@components/cards/LinkCard.astro';
import Layout from '../layouts/Layout.astro';
import Button from '@components/utils/Button.astro';
import GalleryDiamond from '@components/utils/GalleryDiamond.astro';
import AboutCTA from '@components/sections/AboutCTA.astro';
---
<Layout title="Coris Development Group">
  <main class="max-content container mx-auto my-8">
    <div class="lg:w-1/2">
      <Button gradientAnimated class="flex text-light-gold font-cg font-light text-2xl uppercase" innerClassNames="border border-golden-600" background="#111" text="Working" />
      <Button gradient text="Gradient" class="flex hover:shadow-golden-600 font-cg font-light text-2xl uppercase" />
      <Button outline text="Outline" class="flex text-golden-400 font-cg font-light text-2xl uppercase"/>
      <Button />
    </div>
    <hr class="border-golden-400 my-8">
  </main>
  <AboutCTA />
  <section>
    <GalleryDiamond />
  </section>
</Layout>