---
import Layout from '../layouts/Layout.astro';
import ButtonGradient from '@components/utils/ButtonGradient.astro';
---
<Layout title="Coris Development Group">
  <main class="max-content container mx-auto my-8">
    <ButtonGradient />
  </main>
</Layout>