---
import VerticalBigNav from '../components/navs/VerticalBigNav.astro'
import Footer from '../components/Footer.astro';
import { getLiveStory, useStoryblokApi } from '@storyblok/astro';

// API CALL: get storyblok data
let story = null;
const liveStory = await getLiveStory(Astro);

if (liveStory) {
  story = liveStory;
} else {
  const sb_api = useStoryblokApi();
  const { data } = await sb_api.get("cdn/stories/settings", {
    version: "draft",
    resolve_links: "url",
  });
  story = data?.story;
}
const navItems = story.content.header;
const companyInfo = {
	phoneNumber: story.content.company_phone,
	phoneLink: story.content.company_phone.replace(/_/g, ""),
	email: story.content.company_email,
}
const footerItems = story.content.footer;

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site Settings</title>
</head>
<body>
  <VerticalBigNav navArray={navItems} company={companyInfo} />
		<div class="content_offset">
			<slot />
		</div>
		<!-- Footer -->
		<Footer data={footerItems} company={companyInfo} />
</body>
</html>

<style>
  body {
    background-color: #111111;
  }
  .content_offset {
    height: 60vh;
  }
</style>