---
import LogoImg from "../assets/coris_development_group-logo.svg";
import { Icon } from "astro-icon/components";
import FooterMenu from '@components/utils/FooterMenu.astro';
import SocialMedia from "./utils/SocialMedia.astro";
import CompanyInfo from "./utils/CompanyInfo.astro";
---

<footer
  id="cs-footer-269"
  class="border-t border-dark-gold py-8 max-md:text-md"
>
  <div
    class="container mx-auto max-content max-content-mobile md:grid md:grid-cols-3 gap-4 text-white"
  >
    <!-- Logo Group -->
    <div class="max-md:pb-8 md:pl-8">
      <a aria-label="go back to home" class="cs-logo" href="/">
        <img
          class="cs-logo-img light max-md:mx-auto"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src={LogoImg.src}
          alt="logo"
          width="159"
        />
      </a>
      <div class="phone_info mt-6 flex flex-shrink-0 text-white">
        <Icon
          name="ion:phone-portrait-outline"
          size={36}
          class="mt-1 max-md:hidden"
        />
        <div class="pt-0.5 max-md:text-center max-md:mx-auto">
          <CompanyInfo />
        </div>
      </div>
    </div>
    <FooterMenu />
    <SocialMedia />
  </div>
  <div class="border-t border-dark-gold mt-4 lg:mt-8 py-4 max-md:text-md w-full">
    <p id="copyright" class="text-center text-white"></p>
  </div>
</footer>

<script>
  let copyrightElem:any = document.getElementById('copyright');
  const year = new Date().getFullYear();
  copyrightElem.innerHTML = 'Copyright &copy; ' + year + ' - Coris Development Group';
</script>

<style>
  .phone_info svg {
    min-height: 28px;
    min-width: 28px;
  }
</style>
