
<div class="w-16 absolute p-4 text-white bg-orange-400">
    <p class="sm:hidden">sm</p>
    <p class="max-sm:hidden md:hidden">sm+</p>
    <p class="max-md:hidden lg:hidden">md</p>
    <p class="max-lg:hidden xl:hidden">lg</p>
    <p class="max-xl:hidden 2xl:hidden">xl</p>
    <p class="max-2xl:hidden">2xl</p>
</div>

<!-- <script>
    function reportWindowSize() {
        const height = window.innerHeight;
        const width = window.innerWidth;
        console.log(width);
    }

    window.addEventListener("resize", reportWindowSize);
</script> -->