---
import Button from "@components/utils/Button.astro";
import { storyblokEditable } from '@storyblok/astro'
const { blok } = Astro.props;
---
<div {...storyblokEditable(blok)} 
class='hero-card flex py-8 lg:py-16 lg:mt-16 rounded lg:rounded-lg pr-8 bg-white shadow-xl md:w-4/6 lg:w-4/6 2xl:w-3/6 lg:container'
>
  <div class="card-inner lg:w-5/6">
    <h2 class="headline capitalize pl-8 xl:pl-16 pb-3 text-2xl lg:text-4xl font-bold">{blok.title}</h2>
    <hr class="divider my-4 border-4 border-dark-gold">
    <p class="content pl-8 xl:pl-16 py-3 lg:text-xl">{blok.content}</p>
    <div class="footer mx-8 xl:ml-16 mt-10 mb-[6vh] w-full">
      <Button gradientAnimated text={blok.button[0].text} link={blok.button[0].url.story.url} background="white" innerClassNames="border border-golden-400" class="text-golden-400 md:flex font-cg font-light text-lg md:text-2xl uppercase md:w-3/4"/>
    </div>
  </div>
</div>
