---
import { storyblokEditable } from '@storyblok/astro'
import { Image } from 'astro:assets'

const { blok } = Astro.props
---
<div class="hero-blok border-b-8 border-golden-600">
  <div {...storyblokEditable(blok)} class="relative flex flex-col items-center mx-auto lg:flex-row-reverse lg:max-w-5xl xl:max-w-6xl">
    <div class="w-full h-64 lg:w-1/2 lg:h-auto">
      <Image {...storyblokEditable(blok)}
        src={blok.image.filename}
        inferSize={true}
        widths={[540, 720]}
        sizes={`(max-with: 720px) 540px, (max-width: 1024) 720px`}
        loading="eager"
        alt={blok.image.alt}
        class="h-full w-full object-cover"
      />
    </div>
    <div
        class="hero-text w-full lg:max-w-2xl md:z-10 md:shadow-lg lg:absolute lg:top-0 lg:mt-28 lg:w-3/5 lg:left-0 xl:mt-24 backdrop-blur-sm">
        <!-- Text Wrapper -->
        <div class="flex flex-col p-4 md:px-16 max-lg:text-center">
            <h2 class="text-4xl font-light capitalize text-golden-950 lg:text-6xl xl:text-7xl">{blok.headline}</h2>
        </div>
        <!-- Close Text Wrapper -->
    </div>
  </div>
</div>

<style>
  .hero-blok {
    background: rgb(17,17,17);
    background: radial-gradient(circle, rgba(201,177,123,0.20) 0%, rgba(17,17,17,1) 80%);
  }
  .hero-text {
    background: linear-gradient(to right, rgba(201, 177, 123, 1), rgba(201, 177, 123, 0.4)) ;
  }
</style>