---
import { storyblokEditable } from '@storyblok/astro'
import { Image } from 'astro:assets'
const { blok } = Astro.props
---
<div class="image-container min-w-[120px] max-w-[340px]">
<Image {...storyblokEditable(blok)}
  src={blok.image.filename}
  inferSize={true}
  widths={[540, 720]}
  sizes={`(max-with: 720px) 540px, (max-width: 1024) 720px`}
  alt={blok.image.alt}
  class="flex"
/>
</div>

<style>
  .image-container {
    height: 230px;
    width: 100%;
  }
</style>