---
import { storyblokEditable } from '@storyblok/astro'
import { Image } from 'astro:assets'
const { blok } = Astro.props
---
<div class="image-container min-w-[120px]">
<Image {...storyblokEditable(blok)}
  src={blok.image.filename}
  inferSize={true}
  widths={[540, 720, 1024]}
  sizes={`(max-with: 720px) 540px, (max-width: 1024) 720px, (max-width: 1600) 1024px`}
  alt="image alt"
  class="flex"
/>
</div>