---
import { storyblokEditable } from '@storyblok/astro'
const { blok } = Astro.props
const textArray = blok.text.split(' ')
---
<span {...storyblokEditable(blok)} class="flex flex-wrap text-golden-950 font-semibold pl-4">
  {
    textArray.map( (text: any) => (
    <div class="word">{text}&nbsp</div>
    ))
  }
</span>

<style>
  .word {
    opacity: 0.2;
    font-size: clamp(2.4em, 5.4vw, 6em);
    line-height: 1.2em;
  }
</style>