---
import Screensize from '../components/Screensize.astro'
import VerticalBigNav from '../components/navs/VerticalBigNav.astro'
import Footer from '../components/Footer.astro';
import '@fontsource/cormorant-garamond/300.css';
import '@fontsource/cormorant-garamond/400.css';
// import '@fontsource/cormorant-garamond/500.css';
// import '@fontsource/cormorant-garamond/600.css';
// import '@fontsource/cormorant-garamond/700.css';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>		
		<VerticalBigNav />
		<div class="content_offset">
			<Screensize />
			<slot />
		</div>
		<!-- Footer -->
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 255, 209, 101;
		--accent-light: 201, 177, 123;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--max-content: 1280px !important;
		--header-height: 64px;
	}
	.font-cg {
		font-family: 'Cormorant Garamond', serif;
	}
	.font-poppins {
		font-family: 'Poppins', sans-serif;
	}
	.max-content {
		max-width: var(--max-content);
	}
	.prose {
		max-width: 85ch !important;
	}
	@media screen and (max-width: 768px) {
		.max-content-mobile {
			max-width: 82vw;
		}
	}
	
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	body {
		font-family: 'Poppins', sans-serif;
	}
	.nav-open {
		overflow: hidden;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
