---
// * Get Data from parent layout, passed down as prop.
// * Layout -> ParentComponent -> CompanyInfo
const { data } = Astro.props
---
{
  data?.phoneNumber &&
  <p class="phone_number"><a href={`tel:${data?.phoneLink}`}>{data?.phoneNumber}</a></p>
}
{
  data?.email &&
  <p class="email leading-[0.75]"><a href={`mailto: ${data?.email}`}>{data?.email}</a></p>
}
