---
import {phoneNumber, phoneLink, email} from '../../lib/api/settings'
---
{
  phoneNumber &&
  <p class="phone_number"><a href={`tel:${phoneLink}`}>{phoneNumber}</a></p>
}
{
  email &&
  <p class="email leading-[0.75]"><a href={`mailto: ${email}`}>{email}</a></p>
}
